name: Secrets and Environments
on:
  workflow_dispatch:

jobs:
  staging-environment:
    runs-on: ubuntu-24.04
    environment: staging
    env:
      # Inject repository-level secret & variable into the shell
      REPO_SECRET: ${{ secrets.R }}
      REPO_VARIABLE: ${{ vars.V }}
      # Inject environment-level items into the shell
      ENV_SECRET: ${{ secrets.E }}
      ENV_VARIABLE: ${{ vars.E }}
    steps:
      - name: Inspect values inside job
        run: |
          echo "Repo secret (masked):    $EXAMPLE_REPOSITORY_SECRET"
          echo "Repo variable:           $REPO_VARIABLE"
          echo "Env secret (masked):     $ENV_SECRET"
          echo "Env variable:            $ENV_VARIABLE"


